<!--include header-->
<%- include('include/_header') %> 
<!--include header-->

    <!-- Main Site -->
        <main id="site-main">
            <div class="container">
                <div class="box-nav d-flex-justify-between">
                    <div class="filter">
                        <a href="/"><i class="fas fa-angle-double-left"></i> All Users</a>
                    </div>
                </div>
                <div class="form-title text-center">
                    <h2 class="text-dark">New User</h2>
                    <span class="text-light">Use the below form to create a new account</span>
                </div>
                <!-- add user form -->
                <%- include('include/_form') %> 
            </div>
        </main>
    <!-- Main Site -->
</body>
</html>
<!--include footer-->
<%- include('include/_footer') %> 
<!--include footer-->